@import url('../../styles/global.css');

:root{
    /*__Backgrounds*/
    --bg-color:var(--tertiary-color); 
    --border-color: var(--quartenary-color);

    /*__Text*/
    /*--Size*/
    --text-title-size: var(--text-high-size);
    --text-subtitle-size: var(--text-medium-size);
    --text-size: var(--text-small-size);
    /*--Weight*/
    --text-title-weight: var(--text-high-weight);
    --text-subtitle-weight: var(--text-regular-weight);
    --text-weight: var(--text-small-weight);
    /*--Colors*/
    --text-main-color:var(--text-light1-color);
    --text-secondary-color: var(--text-light2-color);

    /*--Court Card-*/
    --court-cart-width-size: 
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing:border-box;
    width: 100%;
}

.content_container{
    display: flex;
    flex-direction: column;
    position: relative;

    width: clamp(270px, 95%, 1300px);
    height: auto;
    
    padding: 0px clamp(15px, 3vw, 50px);
    padding-bottom: 40px;
    padding-top: clamp(20px, 4vw, 55px);
    
    border-radius: var(--border-radius-regular);
    
    background-color: var(--bg-color);
    box-shadow:var(--box-shadow-medium);
    margin-top: 125px;
}


.main_content{
    display: flex;
    flex-wrap: wrap;
    
    padding-bottom: clamp(20px, 1vw, 25px);
    flex: 1;

    border-bottom: 1px solid var(--quaternary-color);
    gap: clamp(0px, 1.2vw, 40px);
}

/*--Imagem da Quadra--*/
.img_container{
    width: clamp(300px, 100%, 500px);
    flex: 1 1 700px;
    height: auto;    
}

.img_container img{
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-small);
    object-fit: cover;
}



/*-------------------------*/
/*   Informações Quadra   */
.quadra_info_container{
    display: flex;
    flex-direction:column;
    align-items: left;
    gap: 25px;
    
    flex: 1;
    max-width: 100%;
    
    padding-top: clamp(10px, 0.6vw, 30px);
    padding-bottom: 5px;
    
    font-family:var(--primary-font);
    color: var(--text-light1-color);

}

.quadra_info_title{
    display: flex;
}

.quadra_info_title h1{
    font-size: var(--text-title-size);
    font-weight: var(--text-title-weight);
}

.quadra_info_subtitle{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    font-size:clamp(19px, 0.7vw,  var(--text-subtitle-size));
    
}

.quadra_info_subtitle h1{
    font-size: 110%;
    font-weight: var(--text-subtitle-weight);
    margin: 0;
    white-space: nowrap;
}

.quadra_info_subtitle h2{
    font-size: 85%;
    font-weight: var(--text-weight);
    text-align: left;
    margin: 0;
}

.quadra_info_subtitle p{
    font-size:var(--text-size);
    font-weight: var(--text-weight);
    word-wrap:break-word;
}


/*--Favorite Button--*/
.btn_favorite_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    width: 40px;
    height: 40px;
    margin-top: auto;
    padding: 2px;

    border-bottom: 1px solid white;
}

.btn_favorite_container:hover:after{
    content: 'Favoritar';
    position: absolute;

    font-family: var(--primary-font);
    background-color: var(--quaternary-color);
    
    border-radius: 5px;
    padding: 4px;
    font-size: var(--text-super-small-size);
    font-weight: var(--text-regular-weight);
    width: fit-content;
    margin-top: 200%;
    margin-left:3px;
}
.btn_favorite{
    background: none;
    border: none;
    cursor: pointer;
} 

.btn_favorite img{
    width: 100%;
    height: auto;
    object-fit: cover;
}




/*--Button See Hours--*/
.btn_see_hours{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-sizing: border-box;
    gap: 15px;
    
    margin-top: auto;
    white-space: nowrap;

    flex: 0;
    
    padding: clamp(13px, 0.8vw, 20px) clamp(15px, 1vw, 40px);
    border-radius: var(--small-border-radius);
    border: none;
    
    font-size: clamp(16px, 1.3vw, 24px);
    font-weight: var(--text-text-weight);
    font-family: var(--primary-font);
    
    color: var(--octonary-color);
    background-color: var(--primary-color);
    
    cursor: pointer;

    transition: all 0.150s ease-out;
}

.btn_see_hours:hover{
    box-shadow: var(--box-shadow-low);
    scale:calc(1.01);
}

.btn_see_hours img{
    margin: 0;
    max-width: clamp(20px, 1.5vw, 25px);
}






/*--------------------*/
/*    Description    */
.description_container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1vh;
    max-width: 100%;
    margin-top: 0.8vh;
    margin-top: 15px;
    border-bottom: 1px solid var(--quaternary-color);
}

/*--Buttons--*/
.description_content_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: clamp(5px, 1vw, 20px);

    font-family: var(--primary-font);
}

.description_content_container button{
    padding: clamp(5px, 0.5vw, 10px) clamp(5px, 1vw, 40px);
    width: calc(100%/3);
    font-family: var(--primary-font);
    font-weight: var(--text-title-weight);
    font-size: clamp(12xpx, 1.5vw, 16px);
    

    color: var(--text-secondary-color);

    background-color: transparent;
    border: 3px solid var(--text-dark2-color);    
    border-radius: 0.5vh;

    cursor: pointer;
    transition: all var(--animation-hover-medium-speed) ease-out;
}

.description_content_container button:focus{
    background-color: rgb(26, 26, 26);
    border: 3px solid rgb(26, 26, 26);   
    scale: calc(1.02);
    color: var(--text-main-color);
}

/*-- Description Text -- */

.description_text{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-weight: var(--text-regular-weight);
    padding-bottom: 1vw;

}

.description_text span{
    font-size: var(--text-size);
    color: var(--text-secondary-color);
}


/*--------------------*/
/*   Outher Courts   */

.other_courts_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 10px;
    width: 100%;
    margin-top: 10px;

}


/*--Title--*/
.other_courts_title{
    font-size: clamp(16px, 1vw, 20px);
    color: var(--text-main-color);
}

.other_courts_title h1{
    font-size: 110%;
    font-weight: var(--text-title-weight);
}

/*--Mini Court Cards--*/

.court_cards_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(9px, 1vw, 12px );
}

.court_card{
    display: flex;
    flex-direction: column;

    width: calc(100%/4);
    
    gap: 4px;
    padding-top: 10px;

    background-color: transparent;
    text-decoration: none;

    font-size: clamp(12px, 1.3vw, 18px);
    color: var(--text-main-color);
}
.court_card img{
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: clamp(3px, 0.5vw, 12px);
}
.court_card h1{
    font-size: 100%; 
    font-weight: var(--text-subtitle-weight);
}

 @media screen and (max-width: 400px){
    .content_container{
        width: clamp(270px, 100%, 1300px);
    }
 }