/* Página principal */
.profilePage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Contêiner principal - Define duas colunas */
.profileContainer {
    display: flex;
    background: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 20px;
    min-height: 80vh;
}

/* Lado esquerdo (imagem e senha) */
.profileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 20px;
    background: #fff;
    border-right: 2px solid #ddd;
}

/* Imagem de perfil */
.profileImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 50px;
}

/* Botão de imagem */
.userImage {
    width: 100%;
    margin-bottom: 30px;
}

.btnImage {
    width: 100%;
    font-weight: bold;
    background-color: var(--tertiary-color);
    color: white;
    padding: 1em;
    border: none;
    border-radius: .6em;
    cursor: pointer;
    gap: 100px;
}
.btnImage:hover{
    background-color: var(--quintiary-color);
}
.btnimage:active{
    background-color: #3a71c4;
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Inputs de senha */
.senhas {
    width: 100%;
    margin-bottom: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}

.divButton{
    display: flex;
    justify-content: end;
    gap: 20px;
}
/* Button Right */
.btn {
    width: auto;
    font-weight: bold;
    background-color: var(--tertiary-color);
    color: white;
    padding: 1em;
    border: none;
    border-radius: .6em;
    cursor: pointer;
    align-items: right;
}
.btn:hover{
    background-color: var(--quintiary-color);
}
.btn:active{
    background-color: #3a71c4;
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Lado direito (detalhes do usuário) */
.profileDetails {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
}

/* Informações do usuário */
.infoProfile {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.info{
    margin-bottom: 30px;
    font-size: 18px;
}

.inputGroup input{
    width: 90%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.inputGroup span{
    margin-bottom: 10px;
    margin-left: 5px;
    color: gray;
}

@media screen and (max-width: 1024px){
    .profileImage{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 768px){
    .profileImage{
        width: 100px;
        height: 100px;
    }
    .profileHeader{
        width: 40%;
    }
    .infoProfile{
        grid-template-columns: repeat(1, 1fr);
    }
    .divButton{
        flex-direction: column;
    }
}


