@import url('../../styles/global.css');
:root {
    /* Cores */
    --placeholder-color: var(--quartenary-color);

    /* Espaçamentos */
    --padding-default: 15px;
    --margin-top-default: 25px;

    /* Bordas e sombras */
    --border-thickness: 0.5px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    user-select: none;
    font-family: 'Poppins';
}

/*___Container Principal___*/
.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;

    background: var(--background-color);
    background: url('../../../public/img/BackGround/BackgroundLogin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*--Ícone--*/
.loginIcon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 140px;
    max-height: 140px;
    margin-bottom: 10px;
}

/*___Título___*/
.loginTitle {
    font-family: var(--primary-font);
    font-size: var(--text-mega-size);
    font-weight: var(--text-small-weight);
    pointer-events: none;
    -webkit-user-drag: none;
}

/*___Formulário de Login___*/
.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--octonary-color);
    padding: 30px 90px;
    border: none;
    border-radius: var(--border-radius-regular);
    box-shadow: var(--box-shadow-medium);
}

/*--Input de Email--*/
.emailInput {
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 57px;
    padding: var(--padding-default);
    font-size: var(--text-medium-size);
    margin-top: var(--margin-top-default);
    border-radius: var(--border-radius-medium);
    border: solid var(--border-thickness) var(--quaternary-color);
}

.loginForm input::placeholder {
    font-size: var(--font-size-small);
    font-weight: bold;
    color: var(--placeholder-color);
}

.loginForm input:focus {
    border: 1px solid var(--primary-color);
    outline: 2px solid var(--primary-color);
}

/*--Input de Senha--*/
.passwordInputContainer {
    display: flex;
    align-items: center;
    width: 400px;
    padding: var(--padding-default);
    font-size: var(--text-medium-size);
    margin-top: var(--margin-top-default);
    border-radius: var(--border-radius-medium);
    border: solid var(--border-thickness) var(--quaternary-color);
    background-color: white;
    cursor: text;
}

.passwordInputContainer:focus-within {
    border: 1px solid var(--primary-color);
    outline: 2px solid var(--primary-color);
}

.passwordInputContainer input {
    flex: 1;
    height: 25px;
    border: none;
    outline: none;
    
    font-size: var(--text-medium-size);
    padding-right: 10px;

    background: var(--octonary-color);
}

.passwordInputContainer input:focus {
    border: none;
    outline: none;
}

.passwordInputContainer img {
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
}

/*___Manter Conectado e Esqueceu a Senha___*/
.optionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

/*--Checkbox--*/
.rememberMeContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.rememberMeLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    font-size: var(--text-small-size);
    color: var(--tertiary-color);
    cursor: pointer;
    white-space: nowrap;
}

.rememberMeCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: transparent;
    appearance: none;
    border: 1.5px solid var(--tertiary-color);
    border-radius: var(--border-radius-small);
    cursor: pointer;
}

.rememberMeCheckbox::after {
    content: "✓";
    font-size: var(--text-small-weight);
    font-weight: bold;
    font-family: sans-serif;
    color: transparent;
    transition: color 0.2s ease-in-out;
}

.rememberMeCheckbox:checked {
    background-color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    width: 20px;
    height: 20px;
}

.rememberMeCheckbox:checked::after {
    color: var(--quinary-color);
}

/*--Esqueceu a Senha--*/
.forgotPasswordLink {
    width: 50%;
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--text-small-size);
    white-space: nowrap;
}

/*___Botão Continuar___*/
.continueButton {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
    color: var(--text-light1-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    padding: var(--padding-default);
    font-size: var(--font-size-small);
    margin-top: var(--margin-top-default);
    font-weight: bold;
    transition: all var(--animation-hover-regular-speed) ease;
}

.continueButton:hover {
    box-shadow: var(--box-shadow-low);
    scale: calc(1.01)
}

/*___Mover para Registro___*/
.registerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 20px 20px;
}

.registerLink {
    text-decoration: none;
    color: var(--primary-color);
}

/*___Formas de Login___*/
.alternativeLoginContainer {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.alternativeLoginContainer hr {
    flex-grow: 1;
    border-top: solid 1px var(--senary-color);
    margin: 0 15px;
}

.alternativeLoginContainer span {
    color: var(--senary-color);
    margin-bottom: 5px;
}

/*___Login com Google___*/
.googleLoginButton {
    display: flex;
    align-items: center;
    justify-content: left;

    gap: 20px;
    width: 100%;
    height: 60px;

    margin-top: 15px;
    font-size: 16px;
    font-weight: unset;
    font-family: var(--primary-font);

    background-color: white;
    cursor: pointer;
    border: none;

    box-shadow: var(--box-shadow-low);
    border-radius: var(--border-radius-medium);

    transition: all 0.2s ease;
}

.googleLoginButton:hover {
    background-color: rgb(249, 249, 249);
}

.googleLoginButton img {
    margin-left: 15px;
    max-width: 25px;
    max-height: 25px;
}