@import url('../../styles/global.css');

:root{
    --text-color: #f0f0f0;
    --text-size: 14px;
    --text-font-family:'Poppins';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.footer_container{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
    
    margin-top: 100px;

    width: 100%;
    padding: 30px;

    background-color: var(--tertiary-color);
    color: var(--text-light1-color);

    font-family: var(--primary-font);
}

.items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    white-space:nowrap;
}

/*____Logo___*/
.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo img{
    width: clamp(50px, 19vw, 100px);
    height: auto;
}
.logo p{
    margin-top: 5px;
    font-weight: 300;
    font-family: var(--primary-font);
}

/*___Redirect___*/
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.list a{
    text-decoration: none;
    font-family:var(--primary-font);
    font-size: var(--text-small-size);
    color: var(--quinary-color);
}
.list a:hover{
    color: var(--octonary-color);
}

.list h1{
    font-size: var(--text-regular-size);
}

.list h2{
    font-weight: 500;
    font-size: var(--text-small-size);
}
.list p{
    font-size: var(--text-small-size);
    user-select: text;
}


/*___Contato___*/
.contact{
    display: flex;
    gap: 3px;
    
}

@media screen and (max-width: 700px){
    .footer_container{
        flex-direction: column;
        gap: 25px;
    }
}