.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.loginContainer{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 400px;
    height: 40%;
}
.loginContainer h1{
   border-bottom: 1px solid hsla(0, 0%, 0%, 0.37);
   text-align: center;
   margin-bottom: 6%;
   padding: 20px;
}
.inputGroup{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputGroup input{
    text-align: left;
    width: 37%;
    padding: 2px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}
.inputGroup button{
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: transparent;
}
