
@import url('../../styles/global.css');
:root{
    
    --high-font-size: var(--text-mega-size);
    --medium-font-size: var(--text-regular-size);
    --small-font-size: var(--text-small-size);

    --small-padding: 10px;
    --medium-padding: 15px;
    
    --radio-border-radius: 12px;
    --icon-padding: 6px;

    --margin-left-form: 5%;

}

.align_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    width: 100%; 
    flex: 1;
}

.content{
    flex: 1;
}


.filter_container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
 
    width: 100%;
    max-width: 1200px;
    margin-top: clamp(100px, 20vh, 200px);
    
    border-bottom: solid black 1px ;
    background-color: transparent;
}


/* __Título Filtro__*/
.title_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 100%;

    gap: 5px;

    transition: all 0.2s ease-in-out;
}

.title_container h1{
    font-size: var(--text-regular-size);
    font-family: var(--primary-font);
    font-weight: var(--text-small-weight);

    color: var(--text-light2-color)
}

.title_container img{
    max-width: var(--icon-size-medium);
    height: auto;
}


.icon_form{
    display: flex;
    align-items: center;
    cursor: pointer;
    
    padding: var(--icon-padding);
    border-radius: var(--border-radius-regular);
    
    transition: all 0.2s ease-in-out;
}

.icon_form:hover{
    background-color: var(--quinary-color);
}


/* __Formulário de Busca__*/
.filter_form{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    flex-direction: column;

    
    width: 100%;
    max-width: 300px;

    gap: 10px;
    margin-top: 50px;

    background-color: var(--tertiary-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow-low);
    
    padding-left: var(--small-padding);
    padding-right: var(--small-padding);
    padding-top: var(--medium-padding);
    padding-bottom: var(--medium-padding);
    
    z-index: var(--z-index-overlay);
}

/*--Título--*/
.filter_form h1,h2{
    font-family: var(--primary-font);
    font-size: var(--text-small-size);
    font-weight: var(--text-high-weight);

    color: var(--text-light2-color);
    margin-left: var(--margin-left-form);
}

.filter_form h2{
    margin-top: 6px;
}


/*--Input de Busca--*/
.form_input{
    display: flex;
    align-items: center;
    
    padding: 10px;
    width: 100%;
    height: 30px;

    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    
    font-size: var(--small-font-size);
}

.form_input input{
    border: none;
    background-color: transparent;
    width: 90%;
    color: var(--text-light1-color);
    margin-left: 5px;

}

.form_item{
    display: flex;
    flex-direction: column;
}

.form_input input::placeholder{
    color: var(--text-light2-color);
}


.form_input input:focus{
    border: none;
    outline: none;
}

.form_input img{
    min-height: auto;
    max-width: var(--icon-size-small);
    padding: 1.5px;
}


/*--Raio de Busca--*/
.form_radio_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    width: 100%;

}

.form_radio_btn {
    display: none; 
}

.radio_label {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--primary-font);
    font-weight: 600;

    border: none;
    border-radius: var(--radio-border-radius);
    
    cursor: pointer;
    transition: background 0.3s;
}

.radio_label span {
    padding: 10px;
    font-family: var(--primary-font);
    font-size: var(--small-font-size);
    
    border-radius: var(--radio-border-radius);

    color: var(--text-dark1-color);
    background-color: white;
    
    transition: all var(--animation-hover-small-speed) ease-in-out;
}

.form_radio_btn:checked + span {
    scale: calc(1.02);    

    color: var(--text-light1-color);
    border-radius: var(--radio-border-radius);
    background-color: var(--quaternary-color);
}




/*__Search Button___*/
.search_container{
    display: flex;
    align-items: center;
    justify-content: center;
   
    width: 100%;
    flex: 1;
}

.search_btn{
    font-family:var(--primary-font);
    font-size:var(--text-small-size);
    font-weight: var(--text-high-weight);
    
    width: 100%;
    padding: var(--small-padding);
    
    border: none;
    border-radius: var(--border-radius-regular);

    color: var(--text-light1-color);
    background-color: var(--primary-color);

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.search_btn:hover{
    scale:calc(1.02);
}

