@import url('../../styles/global.css');


:root{
    /*Titulo*/
    --text-title-size: var(--text-mega-size);
    --text-line-color: var(--secondary-color);
    --primary-font:var(--primary-font);

    /*Cards*/
    --card-border-radius: var(--border-radius-medium);
    --card-border-color: var(--senary-color);
    --card-bg-color: var(--tertiary-color);

    --card-font-size: var(--text-small-size);
    --card-font-weigth: var(--text-regular-weight);
    --card-text-color: var(--text-light1-color);
    
    --card-image-border-radius: var(--border-radius-mega);
    --card-image-size: clamp(60px, 6vw, 100px);

}
.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    width: 100%;
    height: 100%;
}


.friends_main_container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: clamp(700px, 60vw, 1000px);

    font-family: var(--primary-font);
    font-size: var(--text-title-size);
}

/* > Title */
.friends_title {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    padding-bottom: 25px;
}
.friends_title::after{
    content: '';
    background-color: var(--text-line-color);

    height: 2px;
}

/* > Card */
.card_friend_main_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: start;
    width: 100%;
    height: auto;
        
    padding-bottom: 100px;
    gap: 7px;
}

