
@import url('../../styles/global.css');

:root {
    --placeholder-color: #949494;

    /* Espaçamentos */
    --padding-default: 15px;
    --margin-top-default: 25px;

    /* Bordas e sombras */
    --border-radius: 10px;
    --border-thickness: 0.5px;
    --box-shadow-default: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-shadow-strong: 0px 3px 5px rgba(0, 0, 0, 0.45);
    --box-shadow-super-strong: 0px 5px 8px rgba(0, 0, 0, 0.50);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--octonary-color);
    user-select: none;
}

/*___Container Principal___*/
.registerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: var(--octonary-color);
    background: url('../../../public/img/BackGround/BackgroundLogin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*--Ícone--*/
.registerIcon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 140px;
    max-height: 140px;
    margin-bottom: 10px;
}

/*___Título___*/
.registerTitle {
    font-family: var(--primary-font);
    font-weight: unset;
    font-size: var(--text-mega-size);
    pointer-events: none;
    -webkit-user-drag: none;
}

/*___Formulário de Registro___*/
.registerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--octonary-color);
    padding: 30px clamp(10px, 6vw, 90px);
    width: clamp(280px, 100%, 500px);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-super-strong);
}

/*--Input de Nome de Usuário--*/
.usernameInput {
    align-items: center;
    justify-content: center;
    width: clamp(200px, 100%, 400px);
    height: 57px;
    padding: var(--padding-default);
    font-size: var(--text-small-size);
    margin-top: var(--margin-top-default);
    border-radius: var(--border-radius-medium);
    border: solid var(--border-thickness) var(--quaternary-color);
}

/*--Input de Email--*/
.emailInput {
    align-items: center;
    justify-content: center;
    width: clamp(200px, 100%, 400px);
    height: 57px;
    margin-top: var(--margin-top-default);
    
    padding: var(--padding-default);
    font-size: var(--text-small-size);
    border-radius: var(--border-radius-medium);
    border: solid var(--border-thickness) var(--quaternary-color);
}

.registerForm input::placeholder {
    font-size: var(--font-size-small);
    font-weight: bold;
    color: var(--placeholder-color);
}

.registerForm input:focus {
    border: 1px solid var(--primary-color);
    outline: 2px solid var(--primary-color);
}

/*--Input de Senha--*/
.passwordInputContainer {
    display: flex;
    align-items: center;
    width: clamp(200px, 100%, 400px);
    padding: var(--padding-default);
    font-size: var(--text-small-size);
    margin-top: var(--margin-top-default);
    border-radius: var(--border-radius-medium);
    border: solid var(--border-thickness) var(--quaternary-color);
    background-color: white;
    cursor: text;
}

.passwordInputContainer:focus-within {
    border: 1px solid var(--primary-color);
    outline: 2px solid var(--primary-color);
}

.passwordInputContainer input {
    flex: 1;
    height: 25px;
    border: none;
    outline: none;
    font-size: inherit;
    background: white;
    padding-right: 10px;
}

.passwordInputContainer input:focus {
    border: none;
    outline: none;
}

.passwordInputContainer img {
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
}

/*___Manter Conectado___*/
.optionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;

    margin-top: 15px;
}

/*--Checkbox--*/
.rememberMeContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.rememberMeLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    font-size: var(--text-small-size);
    color: var(--tertiary-color);
    cursor: pointer;
    white-space: nowrap;
}

.rememberMeCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: transparent;
    appearance: none;
    border: 1.5px solid var(--tertiary-color);
    border-radius: var(--border-radius-small);
    cursor: pointer;
}

.rememberMeCheckbox::after {
    content: "✓";
    font-size: var(--text-small-weight);
    font-weight: bold;
    font-family: sans-serif;
    color: transparent;
    transition: color 0.2s ease-in-out;
}

.rememberMeCheckbox:checked {
    background-color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    width: 20px;
    height: 20px;
}

.rememberMeCheckbox:checked::after {
    color: var(--quinary-color);
}

/*___Botão Continuar___*/
.continueButton {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
    color: var(--text-light1-color);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    padding: var(--padding-default);
    font-size: var(--font-size-small);
    margin-top: var(--margin-top-default);
    font-weight: bold;
    transition: all var(--animation-hover-regular-speed) ease;
}

.continueButton:hover {
    box-shadow: var(--box-shadow-low);
    scale: calc(1.01)
}