.topBox h1{
    margin-bottom: 20px;
}

.listItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.user{
    display: flex;
    gap: 20px;
}

.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userTexts{
    display: flex;
    flex-direction: column;
    gap: 5px;
    .username {
        font-size: 14px;
        font-weight: 500;
    }
    .email{
        font-size: 12px;
    }
}

.number {
    font-size: 12px;
}

@media screen and (max-width: 1400px){
    .topBox{
        font-size: 20px;
    }
    .number{
        font-size: 15px;
    }
    .reservas{
        font-size: 14px;
        font-weight: 500;
    }
}

@media screen and (max-width: 768px){  
    .user img{
        display: none;
    }
    .email {
        display: none;
    }
    .reservas{
        display: none;
    }
}